# ignoring all target directories
instrumented/
reports/
build/
classes/
target/
run/
dist/
# ignore IntelliJ config files
*.iws
*.ipr
*.iml
# ignore zipkin
zipkin-server-*.jar

# Mac stuff
.DS_Store

### IntelliJ IDEA ###
.idea
.vscode

### Cursor ###
.cursor/

### Terraform ###
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup